<h3>{{ afdeling.naam }}</h3>
{{ afdeling.taakbeschrijving|linebreaksbr }}
{% if afdeling.rapporteert_aan %}
	{{ afdeling.naam }} rapporteert aan <a href="/bestuursmodel/afdeling/{{afdeling.rapporteert_aan.id}}"> {{afdeling.rapporteert_aan.naam}}</a>.
{% endif %}

<h4>Taken</h4>
{% include "afdeling_taken.html" %}

{% if afdeling.get_children %}
	<h4>Afdelingen en commissies</h4>
	{% include "afdeling_children.html" %}
{% endif %}

{% if afdeling.functies.count %}
	<h4>Functies</h4>
	{% include "afdeling_functies.html" %}
{% endif %}


