{% extends "bestuursmodel_base.html" %}

{% block left_panel %}
<h3> Commissies en Afdelingen </h3>
{% for afdeling in afdelingen%}
<p> <a href="/bestuursmodel/afdeling/{{afdeling.id}}"> {{afdeling.naam}} </a> </p>
{% endfor %}
{% endblock %}

{% block main_block %}
{% load mezzanine_tags %}

<h1> {{afdeling.naam}} </h1>

<div class="accordion" id="accordionTaakbeschrijving">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTaakbeschrijving" href="#collapseTaakbeschrijving">
        <h4> Taakbeschrijving</h4>
      </a>
    </div>
    <div id="collapseTaakbeschrijving" class="accordion-body collapse in">
      <div class="accordion-inner">
        {% editable afdeling.taakbeschrijving %}{% endeditable %}
      </div>
    </div>
  </div>
</div>

{% if afdeling.rapporteert_aan %}
<div class="accordion" id="accordionRapporteert">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRapporteert" href="#collapseRapporteert">
        <h4> Rapporteert aan</h4>
      </a>
    </div>
    <div id="collapseRapporteert" class="accordion-body collapse">
      <div class="accordion-inner">
        <a href="/bestuursmodel/afdeling/{{afdeling.rapporteert_aan.id}}"> {{afdeling.rapporteert_aan}} </a> 
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if user.is_staff %}
  <a href="/admin/bestuursmodel/afdeling/add?rapporteert_aan={{afdeling.id}}" onclick="window.open (this.href, 'child', 'height=600,width=800'); return false"> <i class="icon-plus-sign "> </i> </a> 
{% endif %}
<div class="accordion" id="accordionAfdelingen">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionAfdelingen" href="#collapseAfdelingen">
        <h4> Afdelingen en Commissies van {{afdeling.naam}} </h4>
      </a>
    </div>
    <div id="collapseAfdelingen" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          {% for commissie in afdeling.commissies.all %}
            <li> <a href="/bestuursmodel/afdeling/{{commissie.id}}"> {{ commissie.naam }} </a> </li>
          {% empty %}
            Geen afdelingen of commissies
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionFuncties">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFuncties" href="#collapseFuncties">
        <h4> Functies en Rollen van {{afdeling.naam}} </h4>
      </a>
    </div>
    <div id="collapseFuncties" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-bordered table-condensed">
          <tr>
            <thead>
              <th>Functie</th>
              <th>Rol</th>
            </thead>
          </tr>
          {% for rol in afdeling.rollen.all %}
            <tr>
              <td><a href="/bestuursmodel/functie/{{rol.functie.id}}"> {{ rol.functie.naam }} </a></td>
              <td>{{ rol.beschrijving }}</td>
            </tr>
          {% empty %}
            Geen functies
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
