{% load mezzanine_tags %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bestuursmodel.css">
</head>
<div id="container">
	<div id="header">
		<h1>
			{% block title %}{% endblock %}
		</h1>
	</div>
	<div id="navigation">
		{% block navigatie %}
		{% endblock %}
	</div>
	<div id="content-container1">
		<div id="content-container2">
			<div id="section-navigation">
				{% block left_panel %}
				{% endblock %}
			</div>
			<div id="content">
				{% block main_panel %}
				{% endblock %}
			</div>
			<div id="aside">
				{% block right_panel %}
				{% endblock %}
			</div>
			<div id="footer">
				{% block footer %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
</html>