{% extends "base.html" %}
{% load mptt_tags %}

{% block main_panel %}
<h1>{% block title %}Bestuursmodel SVW'27{% endblock %}</h1>
<h2>{{ title }}</h2>
{% include detail_html %}
<nav>
  <ul class="pager">
    <li {% if sublink == 'inleiding' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_inleiding' %}">Inleiding</a>
    </li>
    <li {% if sublink == 'uitgangspunten' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_uitgangspunten' %}">Uitgangspunten</a>
    </li>
    <li {% if sublink == 'sectoren' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_sectoren' %}">Sectoren</a>
    </li>
    <li {% if sublink == 'uitwerking' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_uitwerking' %}">Uitwerking</a>
    </li>
    <li {% if sublink == 'planningcontrol' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_planningcontrol' %}">Planning & Control</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block right_panel %}
    <br>
    <h4>
        <a href="{% url 'bestuursmodel_inleiding' %}">Inleiding</a>
    </h4>
        <a href="{% url 'bestuursmodel_uitgangspunten' %}">Uitgangspunten</a><br>
        <a href="{% url 'bestuursmodel_sectoren' %}">Sectoren</a><br>
        <a href="{% url 'bestuursmodel_uitwerking' %}">Uitwerking</a><br>
        <a href="{% url 'bestuursmodel_planningcontrol' %}">Planning en controlecyclus</a><br>

    {% recursetree alv_afdelingen %}
        {% if node.level == 0 %}<h4>{% endif %}
            <a href="{% url 'afdeling' node.id %}">{{node.naam}}</a>
        {% if node.level == 0 %}</h4>{% else %}<br>{% endif %}
        {% if not node.is_leaf_node and node.level < 1 %}
            {{ children }}
        {% endif %}
    {% endrecursetree %}

    {% recursetree hb_afdelingen %}
        {% if node.level == 0 %}<h4>{% endif %}
            <a href="{% url 'afdeling' node.id %}">{{node.naam}}</a>
        {% if node.level == 0 %}</h4>{% else %}<br>{% endif %}
        {% if not node.is_leaf_node and node.level < 1 %}
            {{ children }}
        {% endif %}
    {% endrecursetree %}
    
     <h4><a href="{% url 'afdelingen' %}">Afdelingen en Commissies</a></h4>
     <h4><a href="{% url 'functies' %}">Functies</a></h4>
{% endblock %}
