<h4>Inleiding</h4>
<p>De planning- en controlecyclus (P&C cyclus) bestaat uit jaarlijks terugkerende en op elkaar aansluitende activiteiten die gericht zijn op het opstellen, plannen, uitvoeren en verantwoorden van het
(meerjaren) beleid van SVW’27. In de verschillende fases wordt de noodzakelijke bestuurlijke informatie vanuit alle sectoren/afdelingen in samenhang bij elkaar gebracht en voorgelegd aan
het hoofdbestuur en de Algemene Leden Vergadering.</p>
<p>Door toepassing van de P&C cyclus bereiken we transparantie en samenhang in de ontwikkelingen en uitvoering van het beleid van SVW’27. Zo wordt de begroting niet alleen een
financiële aangelegenheid maar worden aan de toegekende budgetten tevens de te verwachten resultaten gekoppeld. Gaande weg het lopende jaar zal worden gerapporteerd over de
voortgang en ontwikkelingen, waardoor tussentijdse bijstelling kan worden overwogen.</p>
<h4>De cyclus</h4>
<p>In alle fases van planning- en controlecyclus worden op eenduidige wijze de volgende aspecten belicht waardoor in totale samenhang de bestuurlijke informatie wordt gebundeld:
<ul>
    <li>Beleidsuitgangspunten</li>
    <li>Doelstellingen uit beleid</li>
    <li>Doelstellingen / jaarplannen van de afdelingen</li>
    <li>Financiën</li>
    <li>Personele bezetting</li>
    <li>Jaarplanningen</li>
    </ul>
</p>
<p>De cyclus loopt per kalenderjaar en kent de onderstaande fases / activiteiten en planning.
<table class="table table-bordered table-condensed table-hover">
    <tr><th>Fase</th><th>Activiteiten</th><th>Planning</th></tr>
    <tr><td>Jaarrekening</td><td>Verantwoording over de resultaten van het afgelopen jaar</td><td>Maart</td></tr>
    <tr><td>Voorjaarsnota</td><td>Aandragen beleidsintensiveringen tbv begroting</td><td>April</td></tr>
    <tr><td>Bestuursrapportage 1</td><td>Rapportage voortgang en ontwikkelingen lopende jaar (januari-april).</td><td>Mei</td></tr>
    <tr><td>Algemene Ledenvergadering voorjaar</td><td>Verantwoording over de resultaten van het afgelopen jaar</td><td>Mei</td></tr>
    <tr><td>Begroting</td><td>Financiële uitgangspunt voor komend jaar</td><td>Oktober</td></tr>
    <tr><td>Bestuursrapportage 2</td><td>Rapportage voortgang en ontwikkelingen lopende jaar (mei-september)</td><td>Oktober</td></tr>
    <tr><td>Jaarplannen</td><td>Jaarplannen (en planningen) voor komend jaar</td><td>Oktober</td></tr>
    <tr><td>Algemene Ledenvergadering najaar</td><td>Presentatie / vaststelling: bestuursrapportage 2, begroting en jaarplannen</td><td>November</td></tr>
</table>
</p>

