{% extends "bestuursmodel_base.html" %}
{% block main_panel %}
<h1>Bestuursmodel SVW'27</h1>
<h2>{{ title }}</h2>
{% include detail_html %}
<nav>
  <ul class="pager">
    <li {% if sublink == 'inleiding' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_inleiding' %}">Inleiding</a>
    </li>
    <li {% if sublink == 'uitgangspunten' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_uitgangspunten' %}">Uitgangspunten</a>
    </li>
    <li {% if sublink == 'sectoren' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_sectoren' %}">Sectoren</a>
    </li>
    <li {% if sublink == 'uitwerking' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_uitwerking' %}">Uitwerking</a>
    </li>
    <li {% if sublink == 'planningcontrol' %}class="disabled"{% endif %}>
        <a href="{% url 'bestuursmodel_planningcontrol' %}">Planning & Control</a>
    </li>
  </ul>
</nav>

{% endblock %}
