<p>Veel verenigingen krijgen het steeds moeilijker en sommigen worden zelfs door allerlei oorzaken in het voortbestaan bedreigd of kunnen nauwelijks nog voldoen aan de verwachtingen van hun leden. Er lijkt een professionaliseringslag nodig te zijn om te overleven.</p>
<p>Zowel de leden als de omgeving stellen steeds hogere eisen aan het bestuur van een vereniging. Deze eisen hebben enerzijds betrekking op het adequaat reageren op voorkomende situaties en anderzijds moet er voortdurend ingespeeld worden op een snel veranderende omgeving.</p>
<p>SVW'27 is zich hiervan bewust en heeft de beleidscommissie opdracht gegeven een bestuursmodel te ontwikkelen dat het hoofd kan bieden aan deze ontwikkelingen.</p>.

