<h4>Hoofdbestuur</h4>
<p>Alle bestuursleden van alle afdelingen vormen gezamenlijk het hoofdbestuur. Het hoofdbestuur vergadert minimaal één keer per maand.</p>
<h4>Beleid</h4>
<p>Het hoofdbestuur zal zich vooral richten op het vaststellen en actualiseren van het beleid van de vereniging.</p>
<h4>Meerjarenplannen</h4>
<p>Om dit te ondersteunen is de eerste taak van ieder bestuurslid het opstellen van een meerjarenplan van zijn afdeling. Dit plan dient aan te sluiten bij het verenigingsbeleid, bevat de te behalen doelen en is de basis voor de begroting van de afdeling. Binnen het hoofdbestuur worden de meerjarenplannen geaccordeerd en op elkaar afgestemd zodat ieder in hetzelfde tempo loopt.</p>
<h4>Verantwoordelijkheden</h4>
<p>Budget- en beslissingsverantwoordelijkheid komt zo laag mogelijk in de organisatie te liggen. Ieder bestuurslid krijgt hiermee een eigen verantwoording, maar legt deze ook af in hoofdbestuur.</p>
<h4>Vervanger</h4>
<p>Ieder bestuurslid zorgt voor een tweede man, waardoor er te allen tijde een vertegenwoordiger van de afdeling op de hoofdbestuursvergadering aanwezig kan zijn. Tevens is deze tweede man een extra aanspreekpunt binnen de afdeling en kan hij zorgen voor een verdeling van de tijdsbelasting.</p>
<h4>Werkgroepen</h4>
<p>Indien het hoofdbestuur dit noodzakelijk acht zal het hoofdbestuur werkgroepen voor specifieke projecten aanstellen en coördineren.</p>

