<p>De volgende uitgangspunten zijn leidend:
<ul>
<li>Beperkt tijdsbeslag</li>
In tegenstelling tot het verleden heeft men doorgaans niet veel tijd beschikbaar voor vrijwilligerswerk. Ook voor bestuurders geldt dat tijd kostbaar is.
<li>Differentiatie in functies</li>
Hierdoor kan meer specialisme ontstaan met meer focus waardoor de kwaliteit toeneemt en de beschikbare tijd optimaal wordt benut.
<li>Slagvaardig</li>
Specialisaties die voorheen dieper in de organisatie zaten worden op bestuursniveau gebracht. Door de korte directe contacten kan er slagvaardiger worden bestuurd en zijn de bestuursleden onderling beter geïnformeerd (korte lijnen).
<li>Beslissingen laag in de organisatie</li>
Veel beslissingen kunnen laag in de organisatie worden genomen. Dit bevordert de slagvaardigheid van de vereniging.
<li>Continuïteit</li>
Alle bestuursleden vertegenwoordigen een afdeling en zullen voor deze afdeling een meerjarenplan opstellen.
</ul>
</p>
<p>Het hoofdbestuur zal zich vooral richten op het vaststellen en actualiseren van het beleid en de samenhang tussen de meerjarenplannen van de afdelingen. Tevens zal het hoofdbestuur werkgroepen voor specifieke projecten aanstellen en coördineren.</p>
