{% load staticfiles %}
<p>De SVW’27 organisatie is opgedeeld is opgedeeld in {{ hb.afdelingen.count }} afdelingen, die weer gegroepeerd zijn in {{ sectoren.count }} sectoren. Voor iedere afdeling is er een verantwoordelijk hoofdbestuurslid.<br>
De {{ sectoren.count }} sectoren met hun afdelingen zijn:

<ul>
    {% for sector in sectoren %}
    <li> <b>{{ sector.naam }} </b>: {{ sector.beschrijving }}</li>
         <ul>
         {% for afdeling in sector.afdelingen.all %}
            <li>{{ afdeling.naam }}</li>
         {% endfor %}
         </ul>
    {% endfor %}
</ul>
</p>


