{% extends "base.html" %}
{% load mptt_tags %}


{% block right_panel %}
    <br>
    <a href="{% url 'bestuursmodel_inleiding' %}">Inleiding</a><br>
    <a href="{% url 'bestuursmodel_uitgangspunten' %}">Uitgangspunten</a><br>
    <a href="{% url 'bestuursmodel_sectoren' %}">Sectoren</a><br>
    <a href="{% url 'bestuursmodel_uitwerking' %}">Uitwerking</a><br>
    <a href="{% url 'bestuursmodel_planningcontrol' %}">Planning en controlecyclus</a><br>
    
    {% for root_afd in root_afd %}
        <h4><a href="{% url 'afdeling' root_afd.id %}">{{root_afd.naam}}</a></h4>
        {% for afdeling in root_afd.afdelingen.all %}
            <a href="{% url 'afdeling' afdeling.id %}">{{afdeling.naam}}</a><br>
        {% endfor %}        
    {% endfor %}

    <h4><a href="{% url 'afdelingen' %}">Afdelingen en Commissies</a></h4>
     <h4><a href="{% url 'functies' %}">Functies</a></h4>
{% endblock %}

