{% extends "bestuursmodel_base.html" %}

{% block left_panel %}
<h3> Functies </h3>
{% for functie in functies %}
<p> <a href="/bestuursmodel/functie/{{functie.id}}"> {{functie.naam}} </a> </p>
{% endfor %}
{% endblock %}

{% block main_block %}
<h1> <a href="/bestuursmodel/functie/{{functie.id}}"> {{functie.naam}} </a> </h1>
<p> <b> Functiebeschrijving: </b> {{functie.beschrijving}} </p>

<h3> Rollen van {{functie.naam}}:</h3>
{{functie.naam}} vervult de volgende rollen:
<ul>
{% for rol in functie.rollen %}
    <li> <a href="/bestuursmodel/afdeling/{{rol.afdeling.id}}"> {{ rol.afdeling.naam }} </a> : {{ rol.beschrijving }} </li>
         Deze rol heeft de volgende taken:
         <ul>
         {% for taak in rol.taken.all %}
               <li>{{ taak.beschrijving }}</li>
         {% endfor %}
         </ul>
{% endfor %}
</ul>

<h2> Verantwoordelijkheden</h2>
{{functie.naam}} heeft de volgende verantwoordelijkheden:
<ul>
{% for verantwoordelijkheid in functie.verantwoordelijkheden.all %}
    <li>{{ verantwoordelijkheid.beschrijving }}</li>
{% endfor %}
</ul>

<h3> Functie-eisen</h3>
De volgende functie-eisen worden er gesteld aan {{functie.naam}}:
<ul>
{% for functieeis in functie.functie_eisen.all %}
    <li>{{ functieeis.beschrijving }}</li>
{% endfor %}
</ul>
{% endblock %}
