{% extends "bestuursmodel_base.html" %}

{% block left_panel %}
<h3> Functies </h3>
{% for functie in functies %}
<p> <a href="/bestuursmodel/functie/{{functie.id}}"> {{functie.naam}} </a> </p>
{% endfor %}
{% endblock %}

{% block main_block %}
<h1> <a href="/bestuursmodel/functie/{{functie.id}}"> {{functie.naam}} </a> </h1>
<p> <b> Functiebeschrijving: </b> {{functie.beschrijving}} </p>

<h3> Rollen</h3>

{% for rol in functie.rollen.all %}
    <h4> <i class="icon-star"> </i> {{ rol.beschrijving1 }}</h4>
    <div class="offset1">
        <strong> Afdeling: </strong> <a href="/bestuursmodel/afdeling/{{rol.afdeling.id}}"> {{ rol.afdeling.naam }} </a><br>
        <strong> Taken </strong>:<br>
        {% for taak in rol.afdeling.taken.all %}
            <i class="icon-hand-right"> </i> {{ taak.beschrijving1 }} <br>
        {% endfor %}
        {% for taak in rol.taken.all %}
            <i class="icon-hand-right"> </i> {{ taak.beschrijving1 }} <br>
        {% endfor %}
        <strong> Verantwoordelijkheden: </strong>
        {% for verantwoordelijkheid in rol.verantwoordelijkheden.all %}
             <i class="icon-hand-right">  </i> {{ verantwoordelijkheid.beschrijving }} <br>
        {% endfor %}
    </div>

{% endfor %}
<h3> Functie eisen</h3>
{% endblock %}
