{% extends "bestuursmodel_base.html" %}

{% block left_panel %}
left panel
{% endblock %}

{% block main_title %}
    <h1>Functietypes SVW'27</h1>
{% endblock %}

{% block main_panel %}
<div class="row">
    <ul>
        {% for functietype in functietype_list %}
            <li>
                <a href="{% url 'functietype_delete' functie.id %}" class="btn btn-primary btn-xs active" role="button">Verwijderen</a>
                <a href="{% url 'functietype_change' functie.id %}">{{ functietype.naam }}</a>
            </li>
        {% endfor %}
    </ul>
</div/>
{% endblock %}